<div>
    <h3 *ngIf="patientService.patientList">Total Patients: {{patientService.patientList.length}}</h3>
</div>
<table class="table">
    <thead class="thead-light" style=" background-color: #D7E1E9;">
        <th style=" padding-bottom: 10px ; padding-left: 5px;">FirstName</th>
        <th style=" padding-bottom: 10px ; padding-left: 5px;">LastName</th>
        <th style=" padding-bottom: 10px ; padding-left: 5px;">Gender</th>
        <th style=" padding-bottom: 10px ; padding-left: 5px;">PhoneNumber</th>
        <th style=" padding-bottom: 10px ; padding-left: 5px;">RegistrationDate</th>
        <th>
            <a class=" btn btn-sm btn-success text-white btn-primary " (click)="AddNewPatient() " style=" background-color: green; "><i class="fa fa-plus " ></i>&nbsp;&nbsp;Add New Patient </a> &nbsp;&nbsp;
            <a class="btn btn-danger btn-sm " (click)="onClearPatients()" style=" background-color: red; "><i class="fa fa-minus " ></i>&nbsp;&nbsp;Clear All Patients</a>
        </th>
    </thead>
    <tbody>
        <tr *ngIf="patientService.patientList.length==0 ">
            <td class="font-italic text-center " colspan="6 ">
                There's no patients
            </td>
        </tr>
        <tr *ngFor="let patientItem of patientService.patientList ">
            <td>{{patientItem.FirstName}}</td>
            <td>{{patientItem.LastName}}</td>
            <td>{{patientItem.Gender}}</td>
            <td>{{patientItem.PhoneNumber}}</td>
            <td>{{patientItem.RegistrationDate}}</td>
            <td>
                <a class=" btn btn-sm btn-info text-white btn-primary " style=" background-color: #64C7FF; margin-left: 90px;" [routerLink]="['/patient-detail/', patientItem.Id]" (click)="getDetail(patientItem)">
                    <i class="fa fa-pencil "></i>&nbsp;&nbsp;More Info</a>
            </td>
        </tr>
    </tbody>
</table>